html {
    color: #fff;
    font-size: 16vw;

}

.noDecoration, a:link, a:visited {
    text-decoration: none!important;
}


body {
    background-image: url(../images/background.jpg);
    text-align: left;
}

p,
span,
img,
.list,
.list2 {
    background-color: rgba(0,0,0,.5);
    height: auto;
    width: 100%;
    max-width: 480px;
    border: 2px solid white;
    border-radius: 12px;
}